* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, select, button {
    font: inherit;
}


body {
    background:#f0f1f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback {flex: 0 1 400px;
    padding:1.5em;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feedback h2 {
    margin-bottom: 30px;
}

.info {
    display:flex;
    flex-direction:column;
    margin-bottom: 20px;
}

.info input {
    border:none;
    border-bottom: 2px solid silver;
}


.info label {
    order: -1;
    font-weight: 600;
    font-size: 0.9em;

}

.info .more-info{
    opacity:70%;
    font-style: italic;
    font-weight: 500;
    font-size: 0.7em;
}

.feedback input[type="submit"] {
    padding:10px;
    font-weight:700;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
}