* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 Lato, sans-serif;
}

body, input, select, button {
    font: inherit;
}

body {
    background: #f0f1f7;
    min-height: 100vh;
    display: flex;
    padding: 2em;
    justify-content: center;
    align-items: center;
}

.buttons {
    flex: 0 1 600px;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    gap: 20px;
}

form input[type="radio"], form input[type="checkbox"]{
    appearance: none;
}

form .input-el {
    padding: 1em 0;
    gap: 10px;
    display: flex;
    align-items: center;
}



form input[type="radio"] {
    width: 1.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: #f0f1f7;
    border-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
}

form input[type="radio"]:checked {
    background-color: orange;

}
form input[type="radio"]::before {
    display: none;
    content: "";
    width: 1em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: rgb(179, 139, 66);
}

form input[type="radio"]:checked::before {
    display: block;
}


form input[type="checkbox"] {
    width: 3em;
    border-radius: 2em;
    aspect-ratio: 2/1;
    background: #f0f1f7;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.2em;
}

form input[type="checkbox"]:checked {
    justify-content: flex-start;
    border-color: silver;
    background-color: orange;
}

form input[type="checkbox"]::before {
    display: block;
    content: "";
    width: 1em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: rgb(179, 139, 66);
}

