* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

html {
    font: 14px/1.5 Kode Mono, sans-serif;
}

body, form, input{
    font:inherit;
}

body {
    background: silver;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2em;
    
}


.sign-up {
    background: hsl(202.5deg 25% 18.82%);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1em;
    display:flex;
    flex-direction:column;
    gap: 10px;
}


.buttons {
    /* flex-grow: 1; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 10px;
    gap: 0;
    
}

.buttons > input {
    flex: 0 0 50%;
    padding: 10px;
}

.sign-up h2 {
    text-align: center;
    /* align-items: center; */
    color: white;
}

.same {
    background:transparent;
    border:1px solid silver;
    padding:5px;
    position:relative;
}

input::placeholder {
    color:silver;
}

.names {
    display: flex;
    gap:5px;
}

input[type="email"], input[type="password"] {
    width: 100%;
}


label {
    position:absolute;
   color: hsl(202.5deg 25% 18.82%);
    
}

label::after {
    content: '*';
    color: green;
    padding-left: 5px;
}

.green {
    background: hsl(163.71deg 74.38% 39.8%)00;
}

.hover {
    background: hsl(196.36deg 14.1% 30.59%);
    color: silver;
}

.hover:hover {
    background: hsl(163.97deg 74.01% 34.71%);
    color: white;
}

.white {
    color: white;
}

.get {
    padding: 10px;
    font-size: 1.5em;
}