div p {
color: blue;
}

ul > li {
list-style: square;
}

p + p {
    background-color: grey;
}

p ~ span {
    font-weight: 750;
}

span {
    color: red;
}

body {
    border-color: rgb(173, 170, 170);
    border-style: solid;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 50px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}