.fixed-width {
    width: 300px;
}

.percentage-width {
    width: 50%;
}

.viewport-width {
    width: 50vw;
}

.min-max-width {
    min-width: 100px;
    max-width: 300px;
}

div {
    border: 2px solid black;
    margin: 20px;
    padding: 1px 20px;
}