@media screen and (max-width:600px){
    nav ul{
        display:flex;
        flex-direction:column;
        margin:auto;
        gap:10px;
    }

    .header-title {
        padding: 2em 0;
        
    }

    .header-title h1 {
        font-size: 2em;
        
    }

      .header-title p {
        font-size: 1em;
        
    }

     .team-description ul{
         align-items: center;
         justify-content:center;
         flex-wrap:wrap;
         gap: 50px; 
         
     }
    
    .team-description-wrapper ul li{
        flex: 0 0 calc( ( 100% / 2 ) - 30px );
    }

     .team-description-wrapper ul li img {
         width:200px;
         height:200px;
     }

    .team-description-wrapper ul li p {
        font-size: 0.8em;
    }


    .choose-us ul{
        justify-content: center;
        flex-wrap:wrap;
        gap: 20px;
    }

    .choose-us ul li {
        flex: 0 0 100%;
        padding: 0 80px;
    }

    .blog-news ul {
        justify-content:center;
        gap:30px;
        flex-wrap:wrap;
    }


    .blog-news ul li{
        display:flex;
        align-items:center;
        width: 70%;

    }
  .blog-news ul .item .avatar {
      height: auto; /* Let height be determined by the content */
 
  }
    .blog-news ul .item .avatar:before {
        display: block;
        content: '';
        padding-top: 100%; /* Keeps it a square */}
    
    .blog-news ul .item .avatar img {
        display: block;
        width: 100%;
        height: 100%; /* Make image fill the container */
        object-fit: cover; /* Ensures the image covers the entire container without distortion */
        position: absolute;
        top: 0;
        left: 0;
    }
  
    .content {
        height:100%;'
    }
    .content h4 {
        font-size: 0.9em;
        padding-top: 10px;
    }

    .content p {
        font-size: 0.8em;
    }
}