div.flex-container {
    width: 400px;
    padding: 1em;
    border: 2px solid blue;
    display: flex;
    align-items: flex-start;
    height: 200px;
}

div.flex-item {
    background: #eee;
    padding: 20px;
    border: 2px solid #000;
}


div.align-self-flex-start div:nth-child(2) {
    align-self: flex-start;
}


div.align-self-center div:nth-child(2) {
    align-self: center;
}


div.align-self-flex-end div:nth-child(2) {
    align-self: flex-end;
}


div.align-self-baseline div:nth-child(2) {
    align-self: baseline;
}
