* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    background: lightgray;
    font-family: 'Lato', sans-serif;
}

.first, .second {
    background: white;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 80%;
    gap: 10px;
    padding: 30px;
}


.first > *, .second > * {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
}

header, footer {
    flex: 0 0 100%;
}


main {
    flex-grow: 7;
}

aside {
    flex-grow: 3;
}


.element1 {
    order: 1;
}
.element2 {
    order: 3;
}
.element3 {
    order: 2;
}
.element4 {
    order: 4;
}