section {
    margin: auto;
    max-width: 45%;
    border: 2px solid lightgray;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.info {
    font-size: 14px;
}

.part1 .info{
    margin-top: 20px;
    margin-bottom: 20px;
}

.part1{
    margin-bottom: 30px;
}


.part2 .second{
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    font-style: italic;
}