html {
    font-family: 'Lato', sans-serif;
}

body {
    border: 2px solid rgb(131, 240, 131);
    margin: 0px;
    padding: 10px;
}

div {
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}

.heading, .banner, .article, .footer {
    border: 2px solid blue;
    margin: 20px 30px;
    padding: 30px;

}

h1 {
    font-size: 1em;
    font-weight: 500;
}

.main-content {
    padding: 20px;
}