* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    width: 1200px;

   
}

h1, h2, h3, h4, h5, h6{
    font-family: "Abril Fatface", serif;
}

ul li {
    list-style: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.background, .background img {
    width: 100%;
    position: relative;

}

.background {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background img{
    height: 650px;
    object-fit: cover;
    width: 100%;
    flex-grow: 1;
}

.left-part {
    position: absolute;
    padding: 20px 10px;
    top: 5%;
    left: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.left-part h2{
    width: 50%;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    font-size: 1.8em;
}

.left-part p {
    font-size: 0.9em;
}


.right-part {
    background: linear-gradient(45deg, hsl(25.71deg 7.45% 63.14%), hsl(26, 29%, 91%));
    width: 25%;
    left: 65%;
    top: 30%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: rgb(241, 234, 234);
    padding: 10px;
    padding-left: 20px;
    font-size: 0.8em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.right-part .fa-grip-lines-vertical{
    color: hsl(18deg 4.2% 46.67%);
    font-size: 1.5em;
}

main {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

section.left {
    padding: 40px 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: hsl(280deg 11.11% 94.71%);
    
}

.services, .contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.services h2, .contact h2 {
    font-size: 1.6em;
}

.services h2, .services strong, .contact h2 {
    text-transform: uppercase;
}

.services p, .contact p {
    font-size: 0.9em;
    opacity: 0.7;
}

.contact {
    padding: 20px 0; /* Add padding to the contact section */
    width: 100%;
    opacity: 0.6em;
}



.left::after {
    content: ""; /* Necessary for pseudo-elements */
    position: absolute;
    left: 15%;
    top: 1145px;
    width: 52.5%; /* This ensures the pseudo-element spans the full width */
    height: 2px; /* Adjust the height of the 'border' */
    background-color: black; /* The color of the 'border' */
}

.styled {
    font-weight: 600;
    font-style: italic;
}

.contact p {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type="email"] {
    background: hsl(18.46deg 8.61% 70.39%);
    padding: 8px 30px 8px 16px;
    border: none;
    border-radius: 5px;
}

input[type="email"]::placeholder{
    color: white;
}

input[type="submit"] {
    background: hsl(83.72deg 21.83% 38.63%);
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
}

.right {
    background: hsl(18.46deg 8.61% 70.39%);
    padding: 40px 50px 10px 10px;
    flex: 0 0 25%;
    

}

.right h1 {
    color: white;
    font-weight: 200;
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    
}

.right ul {
    display: flex;
    flex-direction: column;
    gap:70px;
}

.right li h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.9em;
    text-transform: uppercase;
}